@layer base {
  @font-face {
    font-family: "zyrefont";
    src: url("./public/fonts/ARIAL.TTF") format("truetype");
  }
}

* {
  font-family: "zyrefont";
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  position: fixed;
  width: 100%;
  color: white;
  backdrop-filter: blur(
    0.5rem
  ); /* This represents the backdrop-blur-md in Tailwind */
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.small_list {
  display: flex;
  gap: 4rem;
  list-style: none;
}
.list {
  color: white;
  font-weight: 500;
}

.txt {
  text-decoration: none;
  background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em
    no-repeat;
  transition: 0.5s background-size;
}

.txt:hover {
  background-size: 100% 0.1em;
}

/* Variations */
.txt.left {
  background-position: left bottom;
}

.products-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1rem;
}

.description {
  color: #ffffff99;
  padding-bottom: 2rem;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-item {
  display: flex;
  border: 2px solid #b59410;
  border-radius: 8px;
  gap: 2rem;
  padding: 2rem;
}

.product-image {
  height: 400px;
  width: 400px;
}

.product-details {
  list-style: disc;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title_txt {
  margin: 0;
  padding-top: 8rem;
  align-self: center; /* self-center */
  font-size: 4rem; /* text-[4rem] */
  font-weight: bold; /* font-bold */
  padding-bottom: 1rem; /* pb-[1rem] */
  background: linear-gradient(
    to bottom,
    #b59410,
    #3f3001
  ); /* bg-gradient-to-b from-[#B59410] to-[#3F3001] */
  display: inline-block; /* inline-block */
  color: transparent; 
  background-clip: text; 
  font-family: "zyrefont"; 
}
.product-details-title {
  text-transform: uppercase;
  color: white;
}

.product-details li {
  color: #ffffff99;
  font-family: "Font-zyre", sans-serif;
  font-size: small;
}

.product-details span {
  text-transform: uppercase;
}

.footer {
  background-color: black; /* bg-black */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* flex-col */
}
.footer_I {
  display: flex; /* flex */
  padding-left: 6rem;
  gap: 2rem; /* gap-[2rem] */
}

.footer_II {
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  gap: 4rem; /* gap-[4rem] */
  padding-top: 4rem; /* pt-[4rem] */
  padding-bottom: 2rem; /* pb-[2rem] */
  padding-left: 2rem; /* pl-[2rem] */
  padding-right: 2rem; /* pr-[2rem] */
}

.footer_III {
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  padding-top: 4rem; /* pt-[4rem] */
  padding-bottom: 2rem; /* pb-[2rem] */
  padding-left: 8rem; /* pl-[8rem] */
  padding-right: 2rem; /* pr-[2rem] */
}

.feedbck_title {
  color: white; /* text-white */
  font-weight: bold; /* font-bold */
}
.feedbck_lnk {
  color: #ffffff99; /* text-[#ffffff99] */
  cursor: pointer; /* cursor-pointer */
}

.feedbck_lnk:hover {
  color: white; /* hover:text-white */
}

.points {
  cursor: pointer; /* cursor-pointer */
  color: #ffffff99; /* text-[#ffffff99] */
}

.points:hover {
  color: white; /* hover:text-white */
}
.feedbck {
  display: flex;
  flex-direction: column; /* flex-col */
  gap: 2rem; /* gap-[2rem] */
  padding-top: 2rem; /* pt-[2rem] */
}

.sol_I_IV {
  color: white; /* text-white */
  list-style-type: none; /* list-disc */
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.text {
  color: #ffffff99; /* text-[#ffffff99] */
}
.text:hover {
  color: white; /* hover:text-white */
}
@media (max-width: 768px) {

.nav {
  gap: 0;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  font-size: small;
}
.nav_btn {
  font-size: small;
  padding: 0;
}
.small_list {
  padding: 0;
  gap: 0.5rem;
}
.text_cont {
  top: 23%;
  right: 1%;
  left: 30%;
}

.title_txt {
  font-size: 1rem;
}
.description{
  font-size: small;
  line-height: 1.5rem;
  text-align: center;
}
.product-item {
  display: flex;
  flex-direction: column;
  border: 2px solid #b59410;
  border-radius: 8px;
  gap: 2rem;
  padding: 0;
}

.product-image {
  height: 200px;
  width: 200px;
  align-self: center;
}
.product-details {
  padding-top: 0;
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-details li {
  color: #ffffff99;
  font-family: "Font-zyre", sans-serif;
  font-size: x-small;
}
.product-details-title{
  font-size: small;


}


}